body{
    font-family: 'Poppins', helvetica;
}

.container{
    /* display: flex; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nopadding{
    padding-left: 0;
    padding-right: 0;
}



/* -----Start of Hero Portion----------------------*/

#hero {
    display:flex;
    height:120vh;
    width: 100%;
    background: url(../images/DSC00321-Edit\ copy\ 2.jpg) 
                repeat scroll center center / cover ;
}


header{
    display:flex;
    font-size: 5.5em;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    writing-mode: vertical-rl;
    padding: 50px 10px 10px 10px;
}


.two{
    font-family: 'Lato', sans-serif;
    /* width: 85%; */
    color: white;
    padding-top: 400px;
    padding-left: 0px;
}

#name1{
    /* text-transform:lowercase; */
    letter-spacing: 8px;
    color: white;
    font-family: 'Poppins', helvetica;
}

#subtext {
    text-transform:lowercase; 
    letter-spacing: 5px;
    color: white;
    margin: 0;
    font-size:15px;
}

/* -----End of Hero Portion---------------------- */





/* -----Start of About Me------------------------ */

#about {
    width: 100%;
    height: auto;
    background: #f7f2f2;
    padding-top: 190px;
}
.paddsection {
    padding-top: 90px;
    padding-bottom: 90px;
}

.row{ 
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#about .div-img-bg {
    padding-bottom: 30px;
    border: 20px solid #c0a176;
}

#about .div-img-bg .about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    object-fit: cover;
}

img {
    vertical-align: middle;
    border-style: none;
}

#about .about-description .p-heading {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: left;
    color:#717171;
}

#about .about-description .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
    color: #858585;
    margin: 25px 0;
    font-size: 17px;
    line-height: 28px;
}

/* li{
    display:inline;
    margin-right: 20px;
} */

.inline {
    display: inline;
    margin-right: 20px;
}

.listunstyled{
    padding-left: 0;
    list-style: none;
}


/* -----End of About Me-------------------------- */




/* -----Start of Case Studies ------------------- */

#case-studies {
    position: relative;
    padding-bottom: 50px;
}

.section-head{
    margin-bottom: 60px;
}

#case-studies .casestudies-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}


/* element.style {
    position: absolute;
    left: 740px;
    top: 0px;
} */

.portfolio-thumbnail {
    margin-bottom: 30px;
    overflow: hidden;
    /* min-height: 260px; */
}

.portfolio-thumbnail img {
    max-width: 100%;
}

.casestudies-list {
    margin-bottom: 50px;
    color: #858585;
    font-size: 17px;
    line-height: 28px;
    list-style: none;
}
/* -----End of Case Studies --------------------- */

/* -----Start of Contact  ----------------------- */

#contact {
    height: auto;
    width: 100%;
    background-color: #f7f2f2;
}

.mb-30 {
    margin-bottom: 30px;
}

h2 {
    color: #292929;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #858585;
}

.contact-details li {
    padding-bottom: 10px;
}


.form-control {
    background-color: 717171;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
}

#contact input {
    width: 100%;
}


/* --------MEDIA--------------------------- */


@media (min-width: 481px) and (max-width: 980px) {

/* About  */

    #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .about-description .p-heading {
    font-size: 20px;
    margin-top: 10%;
  }
  #about .about-description .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

/* Contact */

.contact-contact {
    margin-bottom: 30px;
  }

  /* Hero */
  
#hero{
    height: 60vh ;
  }

}

@media (max-width: 480px) {
    #hero {
        height: 30vh;
    }
}

